* {
  margin: 0;
  padding: 0;
}
:root {
  --color: rgb(216, 158, 0);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  max-width: 800px;
  height: 300px;
  border: 1px solid #000;
  margin: auto;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 15%;
  color: white;
  background-color: rgb(255, 102, 51);
}

.author {
  margin-left: 450px;
  margin-top: 10px;
}

.button {
  margin-top: 100px;
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  background-color: #00ffff;
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: #00ffff8c;
}

.fa {
  text-decoration: none;
  text-align: center;
  width: 30px;
  padding: 10px;
  font-size: 1px;
  background-color: rgba(19, 123, 209, 0.911);
  color: aliceblue;
  text-align: center;
  position: absolute;
  right: 100px;
  bottom: 45px;
  border-radius: 50%;
}
body {
  background-color: var(--color);
}
